.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px;

  p {
    padding: 6px 10px;
    border: 1px solid #fff;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s;
    &:hover,
    &.active {
      border: 1px solid #000;
      color: #000000;
      background-color: #fff;
    }
  }
}
