.PopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
  padding: 30px;
  background-color: $gold;
  color: $black;
  border-radius: 6px;
  box-shadow: 4px 4px 4px $white;
  p {
    font-size: 20px;
  }
  p span {
    font-weight: bold;
  }
}
