@mixin flex-container(
  $flex-direction: row,
  $justify: center,
  $align: center,
  $gap: 0px,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  display: flex;
  flex-wrap: $wrap;
}
@mixin justify-content($justify) {
  display: flex;
  justify-content: $justify;
}
@mixin align-items($align) {
  display: flex;
  align-items: $align;
}
