.Card {
  position: relative;
  border-radius: 8px;
  @include flex-container(column);
  width: 250px;
  min-height: 350px;
  padding: 10px;
  border: 2px solid $white;
  margin: 50px 0;
  cursor: pointer;
  img {
    border-radius: 6px;
    position: absolute;
    top: -80px;
    width: 200px;
  }
  .titleDrink {
    margin-top: 120px;
  }
  & ul {
    list-style: circle;
    margin: 20px;
  }
}
