@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.NavBar {
  @include flex-container(row, space-between);
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 2;
  border-bottom: 1px solid $light-white-2;

  .listNav {
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-weight: bold;
  }

  .listNav li {
    &:hover {
      color: $gold;
    }
  }

  .titleApp {
    margin-right: 95px;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
  }
  .social {
    display: flex;
    gap: 30px;
    font-size: 25px;
    cursor: pointer;
  }
  .insta:hover {
    color: $gold;
  }
  .face:hover {
    color: $gold;
  }
  .hamburger {
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 835px) {
  .NavBar {
    .listNav {
      display: none;
    }
    .social {
      display: none;
    }
    .titleApp {
      font-size: 40px;
      margin: auto;
    }
    .hamburger {
      display: block;
    }
  }
}
