@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import "./../../styles/_variables.scss";

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  z-index: 2;

  &__list-nav {
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-weight: bold;
  }

  &__list-nav li {
    &:hover {
      color: $primary-color;
    }
  }

  &__title-app {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
  }
  .social {
    display: flex;
    gap: 30px;
    font-size: 25px;
    cursor: pointer;
  }
  .insta:hover {
    color: $primary-color;
  }
  .face:hover {
    color: $primary-color;
  }
}
