@import "../../styles/variables";
@import "../../styles/mixins";

.SingleDrink {
  color: $light-black-2;
  border-radius: 10px;
  margin: 130px auto 20px auto;
  width: 800px;
  height: 500px;
  background-color: $white;
  display: flex;
  position: relative;
  overflow: hidden;
  .close {
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  .description {
    margin: 30px;
    @include flex-container(column, flex-start, center, 20px);
  }
  .ingredienti {
    list-style: circle;
  }
  .img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .carousel {
    position: absolute;
    bottom: 0;
    right: 0;
    & button {
      background-color: $gold;
      border: none;
      font-weight: bold;
      width: 150px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: #201f1f;
        color: $gold;
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .SingleDrink {
    height: 550px;
    width: 300px;
    .img {
      height: 550px;
      width: 146px;
    }
    .carousel button {
      width: 86px;
    }
  }
}
