@import "../../styles/variables";
@import "../../styles/mixins";

.SingleDrink {
  color: #201f1f;
  border-radius: 10px;
  margin: 130px auto 20px auto;
  width: 800px;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: s;
  position: relative;
  overflow: hidden;
  .close {
    font-size: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  .description {
    text-align: center;
    margin: 30px;
    @include flex-container(column, center, center, 20px);
    flex-grow: 1;
  }
  .ingredienti {
    list-style: circle;
  }
  .img img {
    max-width: 300px;
    height: 500px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .carousel {
    position: absolute;
    bottom: 0;
    right: 0;
    & button {
      background-color: $primary-color;
      border: none;
      font-weight: bold;
      width: 150px;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: #201f1f;
        color: $primary-color;
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .SingleDrink {
    height: 550px;
    width: 600px;
    .img img {
      object-fit: cover;
      height: 550px;
      width: 300x;
    }
    .carousel button {
      width: 86px;
      border-radius: 6px;
    }
  }
}
@media screen and (max-width: 600px) {
  .SingleDrink {
    width: 80%;
    flex-direction: column;
    .img {
      display: none;
    }
  }
}
